<!DOCTYPE html>
<html>
    <head>
        <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
            }

            #customers tr:nth-child(even){background-color: #f2f2f2;}

            #customers tr:hover {background-color: #ddd;}

            #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
            }
        </style>
    </head>
    <body>          
                <h1 style="text-align: center;">Class Held Report</h1>
                <table id="customers">
                    <tr>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Teacher Name
                        </th>
                        <th>
                            Date of Class
                        </th>
                        <th>
                            Dua
                        </th>
                        <th>
                            Course Covered
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                <% if (tmp.length > 0) { %>
                    <% tmp.forEach(student => {%>
                       <tr><td><%= student.Student %></td><td><%= student.Teacher %></td><td><%= student.dateOfClass %></td><td><%=student.Dua %></td><td><%=student.courseCovered %></td><td><%=student.Status %></td></tr>
                    <%  });%>
                <% }%>
                </table>
    </body>
</html>