<!DOCTYPE html>
<html>
    <head>
        <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        </style>
    </head>
    <body>
        <div style="width: 85%; margin: 0 7.5%;">
            <div style="text-align: center; padding-left: 50px;">            
                <h1>Class Held Report</h1>
                <table>
                    <tr>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Teacher Name
                        </th>
                        <th>
                            Date of Class
                        </th>
                        <th>
                            Dua
                        </th>
                        <th>
                            Course Covered
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                <% if (tmp.length > 0) { %>
                    <% tmp.forEach(student => {%>
                       <tr><td><%= student.Student %></td><td><%= student.Teacher %></td><td><%= student.dateOfClass %></td><td><%=student.Dua %></td><td><%=student.courseCovered %></td><td><%=student.Status %></td></tr>
                    <%  });%>
                <% }%>
                </table>
             </div>
        </div>
    </body>
</html>